html{
    font-size: 20px;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    line-height: 40px;
}
/* Navbar */
header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
    background-color: #1e90ff;
    color: white;
    padding: 0 1rem;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
}
nav a {
    text-decoration: none;
    color: white;
    margin: 0 1rem;
}
nav a:hover {
    text-decoration: underline;
}
/* Home */
#home {
    position: relative;
    padding-top: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#home img {
    width: 250px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 0 0 5px #1e90ff;
}
#home p {
    margin-top: -25px;
    font-size: 1.5rem;
}
/* biar ga ketutup */
#about, #exp, #kontak {
    padding-top: 100px;
}
/* Kotak */
.about, .exp, .kontak {
    background-color: #f5f5f5;
    padding: 2rem;
    margin: 0 20px;
    border-radius: 20px;
    box-shadow: 0px 2px 3px rgba(0,0,0,.5);
}
.about h2, .exp h2, .kontak h2 {
    font-size: 2rem;
    border-bottom: 4px solid #1e90ff;
    padding-bottom: 20px;
    text-align: center;
}
.about p, .exp p, .kontak p {
    margin-top: -20px;
    font-size: 1.2rem;
}
.exp p {
    margin-top: -30px;
}
.exp ul {
    margin-top: -20px;
}
.exp h4 {
    font-size: 1.2rem;
    margin-top: -15px;
}
/* Kontak Icon */
.wrap {
    display: flex;
    justify-content: center;
}
.wrap table {
    border-spacing: 10px;
}
.wrap .bx {
    border: 5px solid #1e90ff;
    border-radius: 50%;
    padding: 5px;
    font-size: 2.5rem;
    color: #1e90ff;
}
.ket {
    font-size: 1.2rem;
}
.ket a {
    text-decoration: none;
    color: black;
}
.ket a:hover {
    text-decoration: underline;
}
/* footer */
footer {
    background-color: #1e90ff;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}
footer .bx {
    font-size: 2rem;
    margin-top: 10px;
    color: white;
}
footer p {
    margin-top: -10px;
    margin-bottom: 0;
    color: white;
}

/* Responsif */
@media (max-width: 768px) {
    #home {
        padding-top: 250px;
    }
    nav {
        flex-direction: column;
    }
    nav ul {
        margin-top: -15px;
        padding: 0;
    }
    /* biar ga ketutup */
    #about, #exp, #kontak {
        padding-top: 145px;
    }
}
