* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
  }

html{
    scroll-behavior: smooth;
}

.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

.logo:hover{
    color: limegreen;
    text-shadow: 0 0 25px limegreen,
                 0 0 50px limegreen;
    transform: scale(1.1);
  }

  span{
    color: limegreen;
  }

header{
    position: fixed;
    width: 100%;
    padding: 35px 10%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);  
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

nav a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
  }

  nav a:hover,
  nav a.active{
    color: limegreen;
    border-bottom: 3px solid limegreen;
  }

  .contact{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
  }

  .contact:hover{
    color: white;
    background-color: limegreen;
    box-shadow: 0 0 25px limegreen;
  }