* {
    margin: 0;
    padding: 0;
    font-family: verdana;
}


.navigasi {
    background-color: #FF9C73;
    width: 100%;
    height: 70px;
    color: white;
    position: fixed;
}


.logo {
    float: left;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
}


.menu {
    margin-left: 600px;
    padding-top: 27px;
}


.menu ul li{
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}


.menu ul li a {
    text-decoration: none;
    color: white;
}

.menu ul li a:hover {
    color: #FCF596;
    font-style: italic;
}


.banner {
    background-color: #FBD288;
    height: 500px;
    text-align: center;
    color: white;
}

.banner img{
    border-radius: 100px;
    height: 150px;
    border: 5px solid white;
    margin-top: 100px;

}

.banner h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}


.JudulAbout {
    text-align: center;
    color: white;
    background-color: #f15959;
    padding-top: 20px;
}

.IsiAbout {
    background-color: #f15959;
    color: white;
    padding-top: 100px;
    padding-left: 20px;
    padding-bottom: 180px;
}


.JudulTools {
    text-align: center;
    color: #f15959;
    padding-top:  30px;
    align-content: center;
    background-color: #FBD288;
}


.IsiToolsKiri, .IsiToolsTengah, .IsiToolsKanan {
    width: 200px;
    height: 300px;
    background-color: #f0f0f0;
    text-align: center;
    padding: 30px 30px;
    margin: 70px 20px 20px 55px;
    border-radius: 5px;
    float: left;
    margin-top: 45px;
    margin-bottom: 20px;
    padding: 0px;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
}

.IsiToolsKiri:hover, .IsiToolsTengah:hover, .IsiToolsKanan:hover {
    background-color: wheat;
    color: white;
}


.JudulContact {
    text-align: center;
    color: #f15959;
    padding-top:  30px;
    align-content: center;
    background-color: #FBD288;
}


.IsiContactKiri, .IsiContactKanan {
    width: 200px;
    height: 300px;
    background-color: #f0f0f0;
    text-align: center;
    padding: 30px 30px;
    margin: 70px 20px 20px 55px;
    border-radius: 5px;
    float: left;
    margin-top: 45px;
    margin-bottom: 20px;
    padding: 0px;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
}


.IsiContactKiri:hover, .IsiContactKanan:hover {
    background-color: wheat;
    color: white;
}