body {
    font: small-caps bold 16px/2 cursive;
    background: wheat;
    margin: 10px 50px 10px 50px;
    padding: 0%;
}
h2 {
    color: rgb(58, 42, 12);
    text-align: center;
    margin: 20px;
}
.article {
    background: rgb(255, 243, 220);
    padding: 20px;
    margin: 10px 200px 10px 200px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(128, 117, 97);
}