html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arima", system-ui;
  background-color: #dfece9;
  color: #333;
  line-height: 1.6;
}

/* Header and Navigation */
header {
  background: #351f39;
  color: #f4f4f4;
  padding: 6px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 2rem;
  margin-left: 20px;
  font-family: "Playwrite GB S", serif;
  cursor: pointer;
  transition: transform 0.3s;
}
.logo:hover {
  transform: scale(1.1);
}
nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline;
  margin: 0 10px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  position: relative;
}
nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
  position: absolute;
  left: 0;
  bottom: 0;
}
nav ul li a:hover::after {
  width: 100%;
}
#home {
  padding-top: 150px; 
  margin-top: -70px;
  
}
.home {
  padding-top: 200px;
  width: 1000px;
}
.homeme {
  padding-top: 150px;
  
}


main {
  max-width: 1600px;
  margin: 250px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.me img {
  height: 300px;
  width: 300px;
  margin: 10px 0;
  border: 6px solid #351f39;
  border-radius: 50%;
  transition: transform 0.3s;
}
.me img:hover {
  transform: scale(1.1);
  border-radius: 50%; 
  border: 6px solid #726a95;
}
main h1 {
  margin: 0;
  font-size: 2.5em;
}
main  p {
  margin: 20px 0;
  font-size: 1.5em;
}
main button {
  font-family: "Arima", system-ui;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #351f39;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}
main button:hover {
  background-color: #726a95;
  transform: scale(1.05);
}



/* Sections */
section {
  
  padding-top: 2rem ;
  text-align: center;
  font-size: large;
}
section ul {
  text-align: left;
}
section img {
  width: 50px;
  height: 50px;
  border-radius: 0 ;
}
section p img {
  width: 20px;
  height: 20px;
  border-radius: 0 ;
}
section dl p {
  cursor: pointer;
  transition: transform 0.3s;
}
section dl p:hover {
  transform: scale(1.05);
}



.about,
.pendidikan,
.pengalaman {
  max-width: 800px;
  margin: 50px auto;
  padding: 70px 50px 50px 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.contact {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px 50px 20px 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.about:hover,
.pendidikan:hover,
.pengalaman:hover,
.contact:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}


/* Footer */
footer {
  background: #351f39;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}


.social-icons {
  margin-top: 20px;
}
.social-icons a {
  margin: 0 10px;
}
.social-icons a {
  margin: 0 10px;
}
.social-icons img {
  width: 30px;
  height: 30px;
  border-radius: 0 ;
  transition: transform 0.3s;
}
.social-icons img:hover {
  transform: scale(1.2); 
}


.project {
  width:600px;
  padding-top: 150px;
  margin: 10px 0;
}

.slider {
  padding-top: 150px;
  width: 1000px;
  overflow: hidden;
  border-radius: 5px;
}
.slides {
  display: flex;
  animation: slide 9s infinite;
  width: 100%;
  height: 100%;
}
.slide {
  min-width: 100%;
  transition: 0.5s;
  height: 100%;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
@keyframes slide {
  0% { transform: translateX(0); }
  33% { transform: translateX(-100%); }
  66% { transform: translateX(-200%); }
  100% { transform: translateX(-300%); }
}
.coding {
  margin-top: 20px;
}
.coding a {
  margin: 0 10px;
}
.coding a {
  margin: 0 10px;
}
.coding img {
  width: 50px;
  height: 50px;
  border-radius: 0 ;
  transition: transform 0.3s;
}
.coding img:hover {
  transform: scale(1.2); 
}